@import "tailwindcss";

:root {
  --leao-vermelho: #d30915;
  --leao-preto: #111111;
  --leao-amarelo: #ffd700;
  --leao-verde: #009b3a;

  --font-barlow: 'Barlow Condensed', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  background-color: var(--leao-preto);
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.font-barlow {
  font-family: var(--font-barlow);
}