@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Mantemos as variáveis CSS puras como fallback */
  --leao-vermelho: #c60000;
  --leao-preto: #000000;
  --leao-amarelo: #ffcc00;
  --leao-verde: #009b3a;
}

@layer base {
  body {
    @apply bg-[#0a0a0a] text-zinc-300 antialiased;
    font-family: "Roboto", sans-serif;

    background-image: linear-gradient(
        45deg,
        #111 25%,
        transparent 25%,
        transparent 75%,
        #111 75%,
        #111
      ),
      linear-gradient(
        45deg,
        #111 25%,
        transparent 25%,
        transparent 75%,
        #111 75%,
        #111
      );
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Barlow Condensed", sans-serif;
    @apply text-zinc-200;
  }
}

@layer components {
  /* Botão Padrão Sport */
  .btn-sport {
    @apply bg-black text-zinc-400 border border-leao-vermelho rounded-md px-6 py-3 font-bold uppercase tracking-wider transition-all duration-300 hover:bg-leao-amarelo hover:text-black hover:border-leao-amarelo cursor-pointer inline-block text-center shadow-lg hover:shadow-[0_0_15px_rgba(255,204,0,0.3)];
    font-family: "Barlow Condensed", sans-serif;
  }
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c60000;
}
